.btn-orange {
	background-color: #E99049;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
}

.btn-grey {
	background-color: #6B6363;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
}

.btn-orange-small {
	background-color: #E99049;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 14px;
}